* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background: #010175;
}

.app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.app h1 {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.849);
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: rgb(70, 71, 70);
    font-weight: 600px;
}

.botao {
    background: white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.botao:hover:not([disable]){
    background: rgba(0, 0, 0, 0.123);
    color: black;
}

.botao:disabled{
    cursor: no-drop;
}

#proxima {
    background: black;
    color: white;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    cursor: pointer;
    display: none;
}

.correta {
    background: rgb(83, 248, 83);
}
.errado {
    background: rgba(255, 0, 0, 0.486);
}

